// Section Hero
.menu__item-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  display: flex;
  align-items: center;
}
.menu__item-button {
  // White Button
  text-align: center;
  font-family: Space Grotesk;
  padding: 20px 35px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  border-radius: 14px;
  border: 1px solid var(--Dark, #191a23);
  background-color: white;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: #b9ff66;
  }
}
.hero__left {
  width: 531px;
}
.title {
  /* h1 */
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  padding: 35px 0 35px 0;
}
.hero__btn__black {
  color: white;
  border-radius: 14px;
  background: var(--Dark, #191a23);
  padding: 20px 35px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  transition: 0.3s ease-in;
  &:hover {
    background: #b9ff66;
    color: black;
  }
}
.section__hero {
  display: flex;
}
.section__right {
  display: flex;
  justify-content: space-around;
  padding-left: 206px;
}
//Section Carousel
.carousel__img {
  display: flex;
  justify-content: space-between;
}
.carousel__item {
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
  &:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
  }
}
// Section Services

.section__title {
  /* h2 */
  justify-content: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 7px 0 7px;
  border-radius: 7px;
  background: var(--Green, #b9ff66);
}
.section__cards {
  justify-content: center;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 310px 310px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.card__wrapper__white {
  display: inline-block;
  width: 600px;
  height: 310px;
  padding: 50px;
  border-radius: 45px;
  border: 1px solid var(--Dark, #191a23);
  background: var(--Grey, #f3f3f3);
  box-shadow: 0px 5px 0px 0px #191a23;
}
.card__wrapper__green {
  width: 600px;
  height: 310px;
  padding: 50px;
  border-radius: 45px;
  border: 1px solid var(--Dark, #191a23);
  background: var(--Green, #b9ff66);
  box-shadow: 0px 5px 0px 0px #191a23;
}
.card__wrapper__black {
  color: black;
  width: 600px;
  height: 310px;
  padding: 50px;
  border-radius: 45px;
  border: 1px solid var(--Dark, #191a23);
  background: var(--Dark, #191a23);
  box-shadow: 0px 5px 0px 0px #191a23;
}
.title__green {
  /* h3 */
  display: inherit;
  padding: 0px 7px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 7px;
  background: var(--Green, #b9ff66);
  &.title__four {
    display: inline;
  }
}

.title__white {
  /* h3 */
  display: inline-block;
  padding: 0px 7px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 7px;
  background: #fff;
  &.title__five {
    display: block;
  }
}
.card__wrapper__white {
  display: flex;
  justify-content: space-between;
}
.card__wrapper__green {
  display: flex;
  justify-content: space-between;
}
.card__wrapper__black {
  display: flex;
  justify-content: space-between;
}
.card__link {
  display: flex;
  padding-top: 93px;
}
.link__item {
  display: flex;
}
.card__header {
  display: inline-block;
}
.link__text__black {
  color: black;
  padding-top: 5px;
  padding-left: 15px;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  transition: all 0.3s ease-in-out;
  /* 140% */
  &:hover {
    font-size: 22px;
  }
}
.link__text__white {
  color: white;
  padding-top: 5px;
  padding-left: 15px;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
  /* 140% */
  &:hover {
    font-size: 21px;
    transition: all 0.3s ease-in-out;
  }
}
//Section Offer
.section__offer {
  display: flex;
  justify-content: center;
}
.offer__wrapper {
  display: flex;
  position: relative;
  border-radius: 45px;
  background: var(--Grey, #f3f3f3);
  width: 1240px;
  height: 347px;
  padding: 0px 60px;
}
.offer__title {
  /* h3 */
  font-family: Space Grotesk;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.offer__text {
  /* p */
  padding-top: 26px;
  padding-bottom: 26px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer__btn {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  padding: 20px 35px;
  color: white;
  border-radius: 14px;
  background: var(--Dark, #191a23);
  transition: 0.3s ease-in;
  &:hover {
    background: #b9ff66;
    color: black;
  }
}
.section__left {
  width: 500px;
  padding-top: 60px;
}
.section__img {
  padding-left: 300px;
}
.section__img {
  position: absolute;
  bottom: -20px;
}
.section__text {
  /* p */
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.list__header {
  display: flex;
  padding-bottom: 80px;
}
//Section List
.section__list__header {
  display: flex;
  padding-bottom: 80px;
}
.section__list__title {
  padding-left: 40px;
  border-radius: 7px;
  background: var(--Green, #b9ff66);
  padding: 0px 7px;
  /* h2 */
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section__list__text {
  padding-top: 10px;
  width: 300px;
  padding-left: 40px;
}
.list__item {
  border-radius: 45px;
  border: 1px solid #191a23;
  background: var(--Grey, #f3f3f3);
  box-shadow: 0px 5px 0px 0px #191a23;
  width: 1234px;
  padding: 41px 60px;
}
.list {
  display: flex;
  justify-content: center;
}
.list__number {
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.list__text {
  width: 615px;
  padding-top: 20px;
  padding-left: 25px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.list__wrapper {
  display: flex;
}
.left__side {
  display: flex;
}
.right__side {
  width: 100%;
  display: flex;
  justify-content: end;
}
.list__btn {
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.list__block {
  display: flex;
  justify-content: center;
}
.section__contact__header {
  display: flex;
}
.section__contact__title {
  /* h2 */
  font-family: Space Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 7px;
  background: var(--Green, #b9ff66);
  padding: 0px 7px;
}
.section__contact__text {
  /* p */
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
  width: 350px;
}
.section__contact__header {
  padding-bottom: 85px;
}
.section__contact__wrapper {
  border-radius: 45px;
  background: var(--Grey, #f3f3f3);
  width: 1240px;
  padding: 60px 100px 80px 100px;
}
.footer {
  display: grid;
  justify-content: center;
  border-radius: 45px 45px 0px 0px;
  background: var(--Dark, #191a23);
  padding: 55px 60px 50px 60px;
}
.footer__navbar {
  display: flex;
}
.navbar__list {
  margin-left: 155px;
  gap: 40px;
  display: flex;
}
.social__icons {
  margin-left: 155px;
}
.icons__item {
  transition: transform 0.3s ease-in;
}
.icons__item:hover {
  transform: scale(1.2);
}
.navbar__item {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease-in;
}
.navbar__element {
  transition: all 0.3s ease-in-out;
  :hover {
    color: #b9ff66;
  }
}
.social__icons {
  display: flex;
  gap: 20px;
}
.footer__navbar {
  display: flex;
}
.footer__heading {
  padding-bottom: 66px;
}
.section__left__title {
  /* h4 */
  display: inline-block;
  padding: 0px 7px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 7px;
  background: var(--Green, #b9ff66);
}
.section__left__info {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 332px;
}
.section__left__text {
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}
.footer__section__right {
  justify-content: space-around;
  margin-left: 154px;
  display: flex;
  padding: 58px 40px;
  border-radius: 14px;
  background: #292a32;
}
.footer__info {
  display: flex;
  padding-bottom: 50px;
}
.footer__wrapper {
}
.footer__section__right {
  gap: 20px;
}
.mail__input {
  /* p */
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 400;
  width: 285px;
  line-height: normal;
  font-size: 18px;
  height: 67px;
  border-radius: 14px;
  border: 1px solid #fff;
  padding: 22px 35px;
  background-color: #292a32;
  color: white;
}
.mail__input::placeholder {
  color: white;
}
.button-2 {
  transition: all 0.15s ease-in;
  :focus {
    transition: all 0.15s ease-in;
    background-color: #191a23;
    color: white;
  }
}
.subscribe__btn {
  font-family: Space Grotesk;
  color: black;
  height: 67px;
  width: 249px;
  padding: 20px 35px;
  border-radius: 14px;
  background: var(--Green, #b9ff66);
  font-size: 20px;
  transition: all 0.15s ease-in;
  &:hover {
    background-color: white;
  }
}

.horizontal__line {
  background-color: white;
  width: 1120px;
  height: 1px;
}
