// Section Hero
.menu__item-link{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    display: flex;
    align-items: center;
}
.menu__item-button{    // White Button 
    text-align: center;
    font-family: Space Grotesk;
    padding: 20px 35px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    border-radius: 14px;
    border: 1px solid var(--Dark, #191A23);
    background-color: white;
    &:hover{
        background-color: #B9FF66;
        transition: 0.3s ease-in;
    }
}
.hero__left{
    width: 531px; 
}
.title{
    /* h1 */
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.hero__text{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    padding: 35px 0 35px 0;
}
.hero__btn__black{
    color: white;
    border-radius: 14px;
    background: var(--Dark, #191A23);
    padding: 20px 35px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
        &:hover{
            background:#B9FF66;
            color:black;
            transition: 0.3s ease-in;
        }
}
.section__hero{
    display: flex;
}
.section__right{
    display: flex;
    justify-content: space-around;
    padding-left: 206px;
}
//Section Carousel
.carousel__img{
    display: flex;
    justify-content: space-between;
}
.carousel__item{
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
    &:hover{
        transform: scale(1.1);
        filter: grayscale(0%);
    }
}
// Section Services
.section__text{
    /* p */
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section__title {
    /* h2 */
    justify-content: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0px 7px 0 7px;
    border-radius: 7px;
    background: var(--Green, #B9FF66);
}
.section__cards{
    justify-content: center;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 310px 310px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.card__wrapper__white{
    display: inline-block;
    width: 600px;
    height: 310px;
    padding: 50px;
    border-radius: 45px;
    border: 1px solid var(--Dark, #191A23);
    background: var(--Grey, #F3F3F3);
    box-shadow: 0px 5px 0px 0px #191A23;
}
.card__wrapper__green{
    width: 600px;
    height: 310px;
    padding: 50px;
    border-radius: 45px;
    border: 1px solid var(--Dark, #191A23);
    background: var(--Green, #B9FF66);
    box-shadow: 0px 5px 0px 0px #191A23;
}
.card__wrapper__black {
    color: black;
    width: 600px;
    height: 310px;
    padding: 50px;
    border-radius: 45px;
    border: 1px solid var(--Dark, #191A23);
    background: var(--Dark, #191A23);
    box-shadow: 0px 5px 0px 0px #191A23;
}
.title__green{
    /* h3 */
    display: inherit;
    padding: 0px 7px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 7px;
    background: var(--Green, #B9FF66);
    &.title__four{
        display: inline;
    }
}

.title__white {
    /* h3 */
    display: inline-block;
    padding: 0px 7px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 7px;
    background: #FFF;
    &.title__five{
        display: block;
    }
}
.card__wrapper__white{
    display: flex;
    justify-content: space-between;
}
.card__wrapper__green{
    display: flex;
    justify-content: space-between;
}
.card__wrapper__black{
    display: flex;
    justify-content: space-between;
}
.card__link{
    display: flex;
    padding-top: 93px;
}
.link__item{
    display: flex;
}
.card__header{
    display: inline-block;
}
.link__text__black{
    color: black;
    padding-top: 5px;
    padding-left: 15px;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    &:hover{
        font-size: 21px;
        transition: 0.3s ease-in-out;
    }
}
.link__text__white{
    color: white;
    padding-top: 5px;
    padding-left: 15px;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    /* 140% */
    &:hover {
            font-size: 21px;
            transition: 0.3s ease-in-out;
        }
}
//Section Offer
.section__offer{
    display: flex;
    justify-content: center;
}
.section__offer__wrapper{
    width: 1240px;
    height: 347px;
    padding: 0px 60px;
        align-items: center;
        flex-shrink: 0;
        border-radius: 45px;
        background: var(--Grey, #F3F3F3);
}
.section__left{
    padding-top: 50px;
}
.offer__title{
    /* h3 */    
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.offer__text{
    color: #000;
        /* p */
        padding-top: 26px;
        width: 500px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.offer__btn{
    color: white;
        border-radius: 14px;
        background: var(--Dark, #191A23);
        padding: 20px 35px;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 288px;
    
        /* 140% */
        &:hover {
            background: #B9FF66;
            color: black;
            transition: 0.3s ease-in;
        }
}